@import "tailwindcss";

:root {
  --color-primary: #191919;
  /* --color-primary: #111e2c; */
  --color-on-primary: #f3f3f3;

  --color-primary-darker: #1e1c1c;
  --color-on-primary-darker: #f3f3f3;

  --color-text: #141414;
  --color-on-text: #f3f3f3;
  --color-line-break: #d1d5dc80;
}

body {
  @apply overflow-x-hidden;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  /* background: var(--color-primary); */
  background: #111e2c;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px #111e2c90,
    0 0 5px #111e2c90;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Optional: Fade in/out animation */
#nprogress .bar {
  transition: all 0.2s ease;
}

.active-overlay {
  animation: active-overlay-animation 300ms linear forwards;
}

.in-active-overlay {
  animation: in-active-overlay-animation 300ms linear 300ms forwards;
}

@keyframes active-overlay-animation {
  100% {
    opacity: 100;
    pointer-events: all;
  }
}

@keyframes in-active-overlay-animation {
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/* Swiper Styles Start */
.swiper-button-prev,
.swiper-button-next {
  @apply !w-10 !h-[30%] flex items-center justify-center rounded-md shadow-xl z-10 !bg-white !mt-0 -translate-y-4/5;
  color: #333;
}

.swiper-button-prev {
  @apply !left-4 !cursor-pointer;
}

.swiper-button-next {
  @apply !right-4 !cursor-pointer;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: #505050 !important;
}
/* Swiper Styles End */

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome/Safari */
  }
}
